import("shiny","ggplot2","lars","ncvreg")
importFrom("stats","optim","pchisq","var","na.omit","median", "qchisq", "uniroot","cor.test","AIC", "lm", "p.adjust","cor")
importFrom("utils","read.csv","write.table","RShowDoc","head","data")
importFrom("methods","new")
importFrom("qqman","manhattan")
importFrom("data.table","fread")
importFrom("doParallel","registerDoParallel")
importFrom("parallel","detectCores","makeCluster","stopCluster")
importFrom("graphics","plot","abline","axis", "mtext", "par")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("coin","kruskal_test","pvalue")
importFrom("sampling","srswr")
importFrom("foreach","%dopar%","%do%","foreach")
importFrom("openxlsx","read.xlsx","createWorkbook","addWorksheet","writeData","saveWorkbook")
importFrom("shinyjs","show")
importFrom("bigmemory","big.matrix","deepcopy")
importFrom("sbl","sblgwas")
importFrom("mrMLM","mrMLM")
export("mrMLM.GUI")
export("FASTmrMLM")
export("FASTmrEMMA")
export("pLARmEB")
export("ISIS")
export("mrMLMFun")
export("pKWmEB")